@import './variables';

.workbook-item {
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;


  p {
    margin: 0;
    color: #666666;
  }

  .name {
    color: #4F4F4F;
    font-weight: bold;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
  }



}

.fav-star > img {
  width: 30px;
  height: 30px;
}

.dashboard-content {
  margin-top: @dashboard-header-height;
  margin-bottom: @dashboard-footer-height;
}

.popover#main-menu {
  .arrow {
    left: 32vw !important;
  }
  top: 46px !important;
  left: 15px !important;
}

.frame {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 0;
}

.workbook-frame {
  background-image: url(/img/workbook-frame.png);
}

.workbook-thumbnail {
  width: 100%;
  padding-bottom: 12%;
  padding-right: 10%;
  padding-left: 4%;
  padding-top: 4%;
}

.view-frame {
  background-image: url(/img/view-frame.png);

  .workbook-thumbnail {
    padding: 4%;
  }
}
