@import './variables';

.workbook-item {
  margin-top: 20px;
  margin-bottom: 20px;
}

.fav-star > img {
  width: 30px;
  height: 30px;
}

.workbook-thumbnail {
  width: 100%;
}

.workbook-frame {
  border: 1px solid blue;
}

.view-frame {
  border: 1px solid red;
}
